In [28]:
import numpy as np
import pandas as pd
import cv2
import os
import os.path

In [34]:
pics = []
for files in os.listdir('/Users/sindhurareddy/Desktop/test'):
    pics.append(files)
print(pics)

['a.jpeg', 'c.jpeg', 'b.jpg', 'd.jpg']

In [35]:
file_name = []
size = []
shape = []
image_type = []

for i in range(0,len(pics)):
    filename = '/Users/sindhurareddy/Desktop/test/{}'.format(pics[i])
    file_name.append(filename)

['/Users/sindhurareddy/Desktop/test/a.jpeg']
['/Users/sindhurareddy/Desktop/test/a.jpeg', '/Users/sindhurareddy/Desktop/test/c.jpeg']
['/Users/sindhurareddy/Desktop/test/a.jpeg', '/Users/sindhurareddy/Desktop/test/c.jpeg', '/Users/sindhurareddy/Desktop/test/b.jpg']
['/Users/sindhurareddy/Desktop/test/a.jpeg', '/Users/sindhurareddy/Desktop/test/c.jpeg', '/Users/sindhurareddy/Desktop/test/b.jpg', '/Users/sindhurareddy/Desktop/test/d.jpg']

In [36]:
for j in file_name:
    image = cv2.imread(j)
    size.append(image.size)
    shape.append(image.shape)
    image_type.append(image.dtype)

In [37]:
print(size)

[4500000, 421500, 720000, 259554]

In [40]:
image = pd.DataFrame(np.column_stack([pics,shape,size,image_type]),
                             columns=['File Name','Shape 1','Shape 2','Shape 3','Size','Type'])

In [41]:
image

  File Name Shape 1 Shape 2 Shape 3     Size   Type
0    a.jpeg    1500    1000       3  4500000  uint8
1    c.jpeg     281     500       3   421500  uint8
2     b.jpg     400     600       3   720000  uint8
3     d.jpg     239     362       3   259554  uint8